/* ------------------------------------------------------------------------
Colors
------------------------------------------------------------------------- */

$white: #FFF;
$black: #000;

$red: #FB3640;
$blue_dark: #0A2463;
$blue_sure: #237DA1;

$gray_dark: #65665D;
$gray_sure: #DFDFDE;

