/* ------------------------------------------------------------------------
Resolutions
------------------------------------------------------------------------- */

$max-width-resolution: 1080px; 
$resolution-x: 990px;
$resolution-l: 600px;
$resolution-m: 480px;
$resolution-s: 400px;
$resolution-xs: 340px;